
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StyleSheets/Login.css">
	<link rel="stylesheet" href="~/Content/bootstrap.min.css">
	<script type="text/javascript" src="jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
	<main class="clearfix">
		<form action="@ViewBag.signInPath" method="post" name="Student">
			<div class="room-boxes  radious">
				<div id="room-name" class="center example">
					<h2><span>@ViewBag.pageTitle</span></h2>
				</div>
				<div id="form-content">
					<div>
						<span style="color:red">@ViewBag.ErrorMessage</span>
					</div>
					<div>
						<span>メールアドレス</span>
					</div>
					<div>
						<span><input type="text" class="width" name="mailaddress"></span>
					</div>
					<div>
						<span>パスワード</span>
					</div>
					<div>
						<span><input type="password" class="width" name="password"></span>
					</div>
				</div>
				<div>
					<button id="login-button" class="btn btn-success" >ログイン</button>
				</div>
				<div>
					<span style="font-size:smaller">
						続行することで、 Telledgeの<a href="xxxx.html">利用規約</a>および<a href="xxxx.html">プライバシー規約</a>に
						同意するものとみなされます。
					</span>
				</div>
				<div>
					<span><a href="@ViewBag.ForgetPath" class="password font-size">パスワードを忘れた方はこちら</a></span>
				</div>
			</div>
			<div>
				<table id="signup-table">
					<tr>
						<td width="30%"><hr color="#C0C0C0" size="1px"></td>
						<td>未登録の場合はこちらへ</td>
						<td width="30%"><hr color="#C0C0C0" size="1px"></td>
					</tr>
				</table>
			</div>

		</form>
		<div>
			<button id="to-signup-button" class="btn btn-primary" onclick="location.href='@ViewBag.signUpPath'" >新規会員登録</button>
		</div>
	</main>
</body>
</html>
