@model telledge.Models.Room

@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="~/StyleSheets/ModalWindow.css">
	<link rel="stylesheet" href="~/StyleSheets/TeacherRoomcall.css">
	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
	<script src="~/Scripts/ModalWindow.js"></script>
	<script>
		mintime = @(Model.worstTime);
		overtime = @(Model.extensionTime);
		roomId = @(Model.id);
	</script>
	<script src="~/Scripts/Timer.js"></script>
	<script src="~/Scripts/Telledge/teacherRoomCall.js"></script>
	<link rel="stylesheet" href="~/Content/bootstrap.min.css">
	<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>

	<!-- 休憩のモーダルウィンドウ -->
	<div class="modal fade" id="break-modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="h3-margin-left">休憩時間です!!次の生徒の対応を開始しますか?</h3>
				</div>
				<div class="modal-body">
					<div class="div-margin">
						<span>生徒名</span>
						<span class="student-name"></span>
					</div>
					<div class="div-margin">
						<span>要望</span>
						<span class="student-request"></span>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-danger">対応不可</button>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#break-modal">次の生徒へ</button>
				</div>
			</div>
		</div>
	</div>
	<main class="clearfix">
		<div id="main-left" class="boxes border float">
			<div id="content-box">
				<div id="room-name" class="center">
					<span>@Model.roomName</span>
				</div>
				<div id="room-desc" class="center">
					<span>@Model.description</span>
				</div>
				<div id="room-detail">
					<table class="left-margin">
						<col span="1" width="200px">
						<tr>
							<td>通話待ち人数</td>
							<td>@(Model.getWaitCount())人</td>
						</tr>
						<tr>
							<td>予想通話時間</td>
							<td>@(Model.getWaitTime())分</td>
						</tr>
					</table>
				</div>
				<div id="room--list">
					<table border="1" class="table  table-striped">
						<thead>
							<tr>
								<td>名前</td>
								<td>要望</td>
								<td>対応不可</td>
							</tr>
						</thead>
						<tbody id="student-list">
							@{
								telledge.Models.Section[] sections;
								if ((sections = Model.getSections()) != null)
								{
									foreach (var scn in Model.getSections())
									{
										<!--- student-x というidはWebSocketでの識別子として利用、valueは生徒番号として別に利用-->
										<tr id="student-@(scn.studentId)" value="@(scn.studentId)">
											<td>@(scn.getStudent().name)</td>
											<td>@(scn.request)</td>
											<td>
												<button class="btn btn-danger">キャンセル</button>
											</td>
										</tr>
									}
								}
							}
						</tbody>
					</table>
				</div>
				@*  *@
			</div>
		</div>

		<div id="main-right" class="boxes float">
			<div id="call" class="border">
				<table>
					<col span="1" width="150px">
					<tbody>
						@{
							telledge.Models.Section section;
							section = Model.getSection();
							<tr>
								<td>生徒名</td>
								<td class="student-name">
									@if (section != null)
									{
										@(section.getStudent().name)
									}
								</td>
							</tr>
							<tr>
								<td id="timer-title">残り時間</td>
								<td id="timer-count"></td>
							</tr>
							<tr>
								<td id="margin-bottom">要望</td>
								<td id="margin-bottom" class="student-request">
									@if (section != null)
									{
										@(Model.getSection().request)

									}
								</td>
							</tr>
						}


					</tbody>
				</table>
				<div>
					<button id="call-end" class="btn btn-success js-modal-open">通話終了</button>
					<button id="disabled-call-end" class="btn btn-success" disabled="disabled">通話終了</button>
					<button id="room-end" class="btn btn-danger">ルーム終了</button>

				</div>

			</div>
		</div>
		<script>
			timer.setState(Status.Essential);	//最低通話として処理

		</script>
	</main>
</body>
</html>