@model telledge.Models.Room


@{
    Layout = null;
}

@using telledge.Models;

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="~/StyleSheets/studentRoomCall.css">
	<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
	<script type="text/javascript">
		let mintime = @Model.worstTime;
		let overtime= @Model.extensionTime;
	</script>
	<script type="text/javascript" src="~/Scripts/Timer.js"></script>
</head>
<body>
	<main class="clearfix">
		<div id="main-left" class="boxes  float">
			<div id="room-name" class="center">
				<h1>@Model.roomName</h1>
			</div>
			<div id="room-tag" class="center">
				<span>@Model.tag</span>
			</div>
			<hr/>
			<div id="room-description" class="left-margin">
				<h3 class="center">ルーム説明</h3>
				<span>@Model.description</span>
			</div>
			<hr />
			<div id="room-detail">
				<h3 class="center">ルーム詳細</h3>
				<table class="left-margin">
					<col span="1" width="200px">
					<tr>
						<td>料金</td>
						<td>@(Model.point)ポイント</td>
					</tr>
					<tr>
						<td>終了予定時刻</td>
						<td>@Model.endScheduleTime</td>
					</tr>
				</table>
			</div>
			<hr />
			<div id="room-request">
				<h3 class="center">要望</h3>
				<p>@Section.find(Model.id, Student.currentUser().id).request</p>

			</div>
		</div>
		<div id="main-right" class="boxes float">
			<div id="call" class="divide">
				<div id="image">画像</div>
				<table>
					<col span="1" width="200px">
					<tbody>
						<tr>
							<td>講師名</td>
							<td>@Model.getTeacher().name</td>
						</tr>
						<tr>
							<td>通話開始時刻</td>
							<td>@DateTime.Now</td>
						</tr>
						<tr id="timer">
							<td id="timer-status">最低通話時間</td>
							<td id="timer-count">@Model.worstTime</td>
						</tr>
						<tr>
							<td>終了予定時刻</td>
							<td>@Model.endScheduleTime</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>
	<script>
		var con = new Timer('#timer', mintime, overtime);
		con.setTimerAsEssential();	//最低通話として処理
		con.setTimer()

	</script>
</body>
</html>
