@model telledge.Models.Room


@{
    Layout = null;
}

@using telledge.Models;

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="~/StyleSheets/studentRoomCall.css">
	<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
	<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/jquery-1.9.1.min.js"></script>

	<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/JqueryUI/jquery-ui-1.8.12.min.js"></script>
	<script src="~/Scripts/raty/jquery.raty.js"></script>
	<script src="~/Scripts/tag-it.js" type="text/javascript" charset="utf-8"></script>
	<script src="~/Scripts/Telledge/studentRoomsCall.js"></script>
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
	<link href="~/Content/jquery.tagit.css" rel="stylesheet" type="text/css">
	<script type="text/javascript">
		let mintime = @Model.worstTime;
		let overtime= @Model.extensionTime;
	</script>
	<script type="text/javascript" src="~/Scripts/Timer.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$("#readOnlyTags").tagit({
				readOnly: true
			}).ready(function () {
				$(this).find('.tagit-new').css('display', 'none')
			});
		});
	</script>
</head>
<body>
	<main class="clearfix">
		<div id="main-left" class="boxes  float">
			<div id="room-name" class="center">
				<h1>@Model.roomName</h1>
			</div>
			<div id="room-tag" class="center">
				<ul class="tagFlex" id="readOnlyTags">
					@foreach (var tag in Model.tag.Split(','))
					{
						<li>@(tag)</li>
					}
				</ul>
			</div>
			<hr />
			<div id="room-description" class="left-margin">
				<h3 class="center">ルーム説明</h3>
				<span>@Model.description</span>
			</div>
			<hr />
			<div id="room-detail">
				<h3 class="center">ルーム詳細</h3>
				<table class="left-margin">
					<col span="1" width="200px">
					<tr>
						<td>料金</td>
						<td>@(Model.point)ポイント</td>
					</tr>
					<tr>
						<td>終了予定時刻</td>
						<td>@Model.endScheduleTime</td>
					</tr>
				</table>
			</div>
			<hr />
			<div id="room-request">
				<h3 class="center">要望</h3>
				<p>@Section.find(Model.id, Student.currentUser().id).request</p>
			</div>
		</div>
		<div id="main-right" class="boxes float">
			<div id="call" class="divide">
				<div id="image">画像</div>
				<table>
					<col span="1" width="200px">
					<tbody>
						<tr>
							<td>講師名</td>
							<td>@Model.getTeacher().name</td>
						</tr>
						<tr>
							<td>通話開始時刻</td>
							<td>@DateTime.Now</td>
						</tr>
						<tr id="timer">
							<td id="timer-status">最低通話時間</td>
							<td id="timer-count">@Model.worstTime</td>
						</tr>
						<tr>
							<td>終了予定時刻</td>
							<td>@Model.endScheduleTime</td>
						</tr>
						<tr>
							<td>
								<a href="/student/rooms/leave/@(Model.id)">
									<button class="btn btn-danger">ルーム退出</button>
								</a>

								<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#review-modal">通話終了</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>

	<div class="modal fade" id="review-modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action="/student/rooms/end" method="post" >
					<input name="id" type="hidden" value="@(Model.id)" />
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
						<h4 class="modal-title">講師の評価をお願いします</h4>
					</div>
					<div class="modal-body">
						<div id="raty">
							<p>評価: <span id="review"></span></p>
						</div>
					</div>
					<div class="modal-footer">
						<input type="submit" class="btn btn-primary" />
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
		var con = new Timer('#timer', mintime, overtime);
		con.setTimerAsEssential();	//最低通話として処理
		con.setTimer()

	</script>
</body>
</html>
