@model IEnumerable<telledge.Models.Room>

@{
ViewBag.Title = "index";
Layout = "~/Views/Shared/studentMenu.cshtml";
}

<main>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="~/Scripts/tag-it.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
	<link href="~/Content/jquery.tagit.css" rel="stylesheet" type="text/css">
	<script src="~/Scripts/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="~/StyleSheets/studentRoomIndex.css" />
	<script type="text/javascript">
		$(document).ready(function () {
			$(".readOnlyTags").tagit({
				readOnly: true
			}).ready(function () {
				$(this).find('.tagit-new').css('display', 'none')
			});
		});
	</script>
	@if (Model != null)
	{
		foreach (var item in Model)
		{
			<div class="room-boxes">
				<a href="/student/rooms/show/@(item.id)"></a>
				<h2 class="room-title">@item.roomName</h2>
				<div class="flex">
					<div class="float flex flex-middle">
						<img class="room-images" src="/uproadFiles/@(item.getTeacher().profileImage)" />
					</div>
					<div class="room-detail">
						<table class="rooms-table">
							<tbody>
								<tr>
									<td class="col1">講師名</td>
									<td>@(item.getTeacher().name)</td>
								</tr>
								<tr>
									<td>タグ</td>
									<td class="tagFlex readOnlyTags">
										<ul>
											@foreach (var tag in item.tag.Split(',', '、'))
											{
												<li>@(tag)</li>
											}
										</ul>
									</td>
								</tr>
								<tr>
									<td>料金</td>
									<td>@(item.point)ポイント</td>
								</tr>
								<tr>
									<td>最低通話時間</td>
									<td>@(item.worstTime)分</td>
								</tr>
								<tr>
									<td>最大延長時間</td>
									<td>@(item.extensionTime)分</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div>
					<span>@(item.description)</span>
				</div>
			</div>
		}
	}

</main>