@model IEnumerable<telledge.Models.Room>

@{
ViewBag.Title = "index";
Layout = "~/Views/Shared/studentMenu.cshtml";
}

<main>
	@if (Model != null)
	{
		foreach (var item in Model)
		{
			<div class="room-boxes">
				<a href="/student/rooms/show/@(item.id)"></a>
				<h2 class="room-title">@item.roomName</h2>
				<div class="flex">
					<div class="float flex flex-middle">
						<img class="room-images" src="/uproadFiles/@(item.getTeacher().profileImage)" width="200px" />
					</div>
					<div class="room-detail" class="float">
						<table class="rooms-table">
							<col span="2" width="150px">
							<tbody>
								<tr>
									<td>最低通話時間</td>
									<td>@(item.worstTime)分</td>
								</tr>
								<tr>
									<td>最大延長時間</td>
									<td>@(item.extensionTime)分</td>
								</tr>
								<tr>
									<td>タグ</td>
									<td>@(item.tag)</td>
								</tr>
								<tr>
									<td>料金</td>
									<td>@(item.point)ポイント</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div>
					<span>@(item.description)</span>
				</div>
			</div>
		}
	}

</main>